*{
    margin: 0;
}
body{
    background-color: rgb(244, 241, 236);
}
.card:hover{
    background-color: azure;
    border-color:white;
}
.off{
    font-size: 25px;
    color:white;
    background-color: rgba(18, 25, 217, 0.6);
    position: absolute;
    bottom: 15px;
    left: 8px
}
.image{
    position: relative;
}
.card{
    display: inline-block;     
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 20px solid rgb(244, 241, 236) ;
    border-radius: 20px;
}

.Box{
    display: inline-block;
}

.img{
    height: 250px;
    width: auto;
    border-radius: 20px;
}
.restaurant , .foodinfoprice , .locationdis{
    position: relative;
    margin-top: 10px;
    margin-bottom:10px ;
}
.rest{
    font-size: 20px;
    font-weight: bold;
}
.rating{
    background-color: green;
    height: 20px;  
    padding: 5px;
    position: absolute;
    right: 5px ;
    color: aliceblue;
    border-radius: 8px;
}

.price,.distance{
    position: absolute;
    right: 5px;
}
.foodinfoprice, .place{
    font-size: 15px;
    color: rgb(58, 57, 57);
}
.distance{
    font-weight: bold;
    font-size: 14px;
}
